{% extends 'HWIOAuthBundle::layout.html.twig' %}

{% block hwi_oauth_content %}


<form class="form-login container" action="{{ path("fos_user_security_check") }}" method="post">
	<div class ="row">
		<h4>Login <small>using your on site credentials</small></h4>
	</div>
    <div class = "row">
        <input type="text" placeholder="USERNAME" class = "form-control" id="username" name="_username" value="" required="required" />
    </div>
    <div class = "row">
        <input type="password" placeholder="PASSWORD" class = "form-control"  id="password" name="_password" required="required" />
    </div>

    <div class = "row">
        <input type="submit" class = "form-control btn btn-block btn-success"  id="_submit" name="_submit" value="LOGIN" />
    </div>
    <div class = "row">
    <hr>
	<h5 class = "text-muted">Or login with </h5>
	</div>
	<div class = "row">
	    {% for owner in hwi_oauth_resource_owners() %}
	    	<a href="{{ hwi_oauth_login_url(owner) }}" class = "btn btn-block btn-social btn-google pull-right">
	    		<span class="fa fa-google"></span>Google
	    	</a>
	    {% endfor %}
	</div>

    {% if error %}
    <div class = "row">
        <div class="alert alert-danger" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{ error }}
        </div>
    </div>
    {% endif %}
</form>



{% endblock hwi_oauth_content %}
