{% extends 'base.html.twig' %}

{% block body %}
	<div class = "container">
		<h4 class = "text-center">{{ title }}</h4>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" class ="btn btn-block btn-success" value="Save" />
    {{ form_end(form) }}
</div>
{% endblock %}
