{% extends 'base.html.twig' %}

{% block body %}
	<div class = "container">
		<table>
			<tr>
				<td rowspan = "5">CPI Outsourcing</td>
				<td rowspan = "3 pull-right">ASSET ACCOUNTABILITY</td>
			</tr>
		</table>
	</div>
{% endblock %}