{% extends 'base.html.twig' %}
{% form_theme form 'jquery.collection.html.twig' %}

{% block body %}
	<div class = "container">
		<h4 class = "text-center">{{ title }}</h4>

        {{ form_start(form) }}
	    {{ form_widget(form) }}
	    <input type="submit" class = "btn btn-success btn-block" value="Submit">	
        {{ form_end(form) }}
	</div>

{% endblock %}
{% block javascripts %}
	<script type="text/javascript">
        $('.user_collection').collection({ allow_duplicate: false,
                                            allow_up: false,
                                            allow_down: false,
                                            up: '<a href="#" class="btn btn-primary with-margin"><i class="fas fa-chevron-up"></i></a>',
                                            down: '<a href="#" class="btn btn-primary with-margin"><i class="fas fa-chevron-down"></i></a>',
                                            add: '<a href="#" class="btn btn-primary with-margin"><i class="fas fa-plus"></i></a>',
                                            remove: '<a href="#" class="btn btn-danger with-margin"><i class="fas fa-trash-alt"></i></a>',
                                            duplicate: '<a href="#" class="btn btn-primary with-margin"><i class="fas fa-copy"></i></a>'
    	});
    </script>
{% endblock %}
