{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path("fos_user_security_check") }}" method="post" class = "container login-form">
    <div class = "row">
        <h3>Login <small>with site credentials</small></h3>
    </div>
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}
    <div class = "row">
        <input  type="text" id="username" name="_username" value="{{ last_username }}" 
                required="required" class = "form-control" placeholder="username" />
    </div>
    <div class = "row">
        <input type="password" id="password" name="_password" required="required" 
                class = "form-control" placeholder="password" />
    </div>
    <div class = "row">
        <input type="submit" id="_submit" name="_submit" value="LOGIN" class = "btn btn-success btn-block" />
    </div>
    <div class = "row">
        <h4 class = "text-muted text-center">OR</h4>
    </div>
    <div class = "row">
        <a href="/connect/google" class = "btn btn-block btn-google">Login with <i class="fab fa-google-plus-g"></i></a>
    </div>

    {% if error is defined and error %}
        <div class = "row">
            <div class = "alert alert-danger alert-dismissible" role = "alert">{{ error.messagekey }}<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
        </div>
    {% endif %}

</form>
